[project]
	description = Angular 2: Multiple Selection
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Trung Nguyen (trungnguyen0302)
[access "refs/for/refs/*"]
	read = group user/Trung Nguyen (trungnguyen0302)
	push = group user/Trung Nguyen (trungnguyen0302)
	label-Code-Review = -2..+2 group user/Trung Nguyen (trungnguyen0302)
	label-Verified = -1..+1 group user/Trung Nguyen (trungnguyen0302)
	rebase = group user/Trung Nguyen (trungnguyen0302)
	removeReviewer = group user/Trung Nguyen (trungnguyen0302)
	submit = group user/Trung Nguyen (trungnguyen0302)
[access "refs/heads/*"]
	read = group user/Trung Nguyen (trungnguyen0302)
	create = group user/Trung Nguyen (trungnguyen0302)
	push = +force group user/Trung Nguyen (trungnguyen0302)
	pushMerge = group user/Trung Nguyen (trungnguyen0302)
[access "refs/tags/*"]
	push = group user/Trung Nguyen (trungnguyen0302)
	push = +force group user/Trung Nguyen (trungnguyen0302)
